*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}

h1 {
    font-size: 45px;
    margin: 15px;
}

h2 {
    font-size: 30px;
    margin: 10px;
}

h3 {
    font-size: 20px;
    font-weight: 100;
}

p {
    font-size: 20px;
}

.nav_emblem {
    height: 20px;
}

header {
    position: fixed;
    z-index: 100;
    background-color: white;
    top: 0;
    left: 0;
    width:100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;
    padding: 25px;

}
a {
    color: black;
}

a:hover {
    color: #bf7631;
}

.nav-item {
    text-decoration: none;
    list-style: none;
}


.nav_right {
    display: flex;
    gap: 10px;
}

.nav_middle {
    display: flex;
}

.nav_left ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

li a {
    text-decoration: none;

}

.noline {
    text-decoration: none;
}


.nav_line {
    margin: 0;
    width: 100%;
    
}

.header_img {
    height: 500px;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;

}

.abt_us_text1 {
    margin: 15px;
}

.forefront_img {
    height: 500px;
    width: 100%;
}

.text_one {
    position: absolute;
    top: 17px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 20px;
    color: aliceblue;
    font-weight: 100;
}

.text_two {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: end;
    text-transform: uppercase;
    font-size: 25px;
    padding: 20px;
    color: aliceblue;
    font-weight: 100;
}

.about_us_line {
    padding: 20px, 20px, 20px, 20px;
    padding-top: 30px;
    padding-left: 20px;
}


.abt_us_img1 {
    display: flex;
    width: 350px;
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;

}

.abt_us_card {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: 25px;
    vertical-align: top;
}

.abt_us_img2 {
    width: 450px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    object-fit: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}



.card_left {
    display: flex;
    justify-content: row;
}



.column_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px;

}

/* Products */

.product_card {
    width: 330px;
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 2px;

}

.product_card:hover {
    background-color: #F5F5F5;
}

.product_image {
    width: 310px;
    height: 225px;
    object-fit: cover;
}

.message_input {
    width: 650px;
    height: 300px;
}

.card_container {
    display: grid;
    grid-template-areas: 
            "top top top"
            "mid mid mid"
            "bot bot bot";
    justify-content: space-around;
    margin: 25px;

}

#contact_us {
    margin: 25px;
    margin-top: 100px;
}

.contact_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.contact_button {
    display: flex;
    justify-content: end;
    margin: 50px;
}

footer {
    background-color: #bf7631;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_contacts {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer_emblem {
    display: flex;
    align-items: center;


}

.footer_text {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 20px;
}


section {
    margin: 35px;
}

.product_title {
    display: flex;
    justify-content: space-between;
}

.product_page_card {
    background-color: #bf7631;
    color: aliceblue;
    margin: 25px;
    display: flex;
    align-items: center;
}

.card_headers {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.learn_more {
    color: #bf7631;
}

.add_to_cart {
    display: flex;
    background-color: #bf7631;
    color: aliceblue;
    width: 115px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.contact_box {
    margin: 25px;
}

hr {
    margin: 10px;

}

input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer_contacts a img {
    height: 60px;
}

/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }


@media (max-width: 600px) {
body {
    background-color: aqua;
    font-size: 12px;
}
p {
    font-size: 12px;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 12px;
}

.navbar {
    flex-wrap: wrap;
    display: flex;
}
img {
    object-fit: scale-down;
    height: 100px;
    width: 100px;
}
#about_us {
    flex-wrap: wrap;
}
.card_container {
    flex-wrap: wrap;
    object-fit: scale-down;
}

.product_card {
    flex-wrap: wrap;

}
} */